/* 
    Document   : default
    Created on : 14-Jul-2013, 11:52:27
    Author     : Andy Keavey
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.line {
    -fx-fill: transparent;
    -fx-stroke: dimgray;
}

.title {
    -fx-font-size: 24px;
}

.grid {
    -fx-padding: 10px;
}