/* 
    Document   : graph
    Created on : 24-Jun-2013, 11:35:31
    Author     : Andy Keavey
    Description:
        Purpose of the stylesheet follows.
*/

.link {
    -fx-stroke-width: 4px;
}

.line {
    -fx-stroke-width: 2px;
}

.node:hover {
    -fx-effect: dropshadow(gaussian, blue, 5, 0.2, 0.0, 0.0);
}