/* 
    Document   : nodeStyle
    Created on : 09-May-2013, 16:01:13
    Author     : Andy
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.complex {
    -fx-fill: transparent;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}