/* 
    Document   : displayPane
    Created on : 04-Feb-2012, 14:45:12
    Author     : Andy
    Description:
        Purpose of the stylesheet follows.
*/

.root { 
    -fx-background-color: #333333;
    -fx-hgap: 0px;
    -fx-vgap: 0px;
    -fx-padding: 0px;   /* make flush with window edges */
}

.menu-bar{
    -fx-base: darkolivegreen;
}

.menu-bar .menu-button:hover,  .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background-color: olive;
}

.toolbar {
    -fx-base: #333333;
}

.anchorpane, .tab-header-background, .scroll-pane {
    -fx-background-color: #333333;
}

.tab {
    -fx-background-color: linear-gradient(navajowhite, linen);
}

.tab-pane, .pane {
    -fx-background-color: linen;
}

.flowpane {
    -fx-background-color: #333333;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-border-color: black;
    -fx-border-insets: 0px;
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
    -fx-padding: 0px;
}

.titledpane {
    -fx-base: grey;
}

.label {
    -fx-font-weight: normal;
}

.button {
    -fx-base: grey;
}

.link {
    -fx-stroke: DARKOLIVEGREEN;
    -fx-stroke-width: 4px;
}


/* ID rules */
#title {
    -fx-font-size: 36pt;
}

#subtitle {
    -fx-font-size: 18pt;
}

#handix {
     -fx-opacity: 1.0;
     -fx-stroke: DARKOLIVEGREEN;
     -fx-background-color: #CC3333;
}

#nodeLabel {
    -fx-background-color: linear-gradient(darkgrey 0%, lightgrey 50%, grey 100%);
    -fx-background-insets: 5px;
    -fx-background-radius: 5px;
    -fx-border-color: cornflowerblue;
    -fx-border-insets: 5px;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-padding: 5px;
}

#status {
    -fx-background-color: olive;
    -fx-text-fill: #EEEEEE;
}

